#nav {
    ul {
        ul {
            color: white;
            height: 511px;
            width: 238px;
            background: #222222;
        }
    }
}

#nav {
    ul {
        .next_nav {
            font-size: 13px;
            border-bottom: 1px dashed #FFFFFF;
<<<<<<< HEAD
            border-right: 2px solid #b1191a ;
=======
>>>>>>> 3e253e426f9376f2e683cab051420a52f0961a46
          
            /*tab1*/
           .two_tab{
                width: 728px;
                height: 512px;
                 border-left: 2px solid #b1191a;
                border-right: 2px solid #b1191a;
                border-bottom: 2px solid #b1191a;
                background: #FFFFFF;
                z-index: 1;
                display: none;
                 padding-left: 10px;
                position: absolute;
                top: 0px;
                left: 238px;
                
           }
          
                
            }
           
            
        }
          
            
    }


#nav {
    ul {
        .next_nav:hover {
<<<<<<< HEAD
            cursor: pointer;
            background: #FFFFFF;
            border-right: 2px solid #FFFFFF;
            #ssnz_list{
                border-left: 2px solid #FFFFFF;
=======
//          z-index: -1;
            cursor: pointer;
            background: #FFFFFF;
            #ssnz_list{
>>>>>>> 3e253e426f9376f2e683cab051420a52f0961a46
                display: block;
            }
            h3 {
                color: #c81623;
            }
            div {
                color: #2d2d2d;
            }
        }
<<<<<<< HEAD
    
=======
>>>>>>> 3e253e426f9376f2e683cab051420a52f0961a46
    }
}







#banner {
    position: relative;
    padding: 5px;
    .goodb_rig{
    width: 288px;
    height: 506px;
    
}
#erdbox{
        float: left;
        width: 238px;
        height: 521px;
        background: skyblue;
        position: absolute;
        left: 0;
        top: 0;
//      display: none;
}

.lunbaner{
    width: 927px;
    height: 506px;
    position: absolute;
    left: 0;
    top: 5px;
}
.lbtrtc{
    position: absolute;
    width: 927px;
    height:360px ;
    overflow: hidden;
    ul{
        width: 2781px;
        height:360px ;
        li{
            position: absolute;
            img{
            width: 927px;
            height: 360px;
        }
        }
        
        
    }
    ol{
                 position: absolute;
                right: 0;
                bottom: 0;
            }
            ol>li{
                width: 50px;
                height: 50px;
                float: left;
                
            }
            ol span{
               
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #DDDDDD;
                cursor: pointer;
            }
            .selected{
                background: #FFFFFF;
            }
}
.lunbobt{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 141px;
    width: 927px;
   
}
}

#indnav{
    height: 52px;
    width: 1326px;
    background: #FFFFFF;
    ul{
        padding: 0 20px;
        margin: 0 auto;
        height: 52px;
        line-height: 52px;
        width: 1224px;
        background: #FFFFFF;
        border-top: 1px solid #DDDDDD;
         border-bottom: 1px solid #DDDDDD;
         .dangqian{
             color: #d71e00;
         }
         li{
             padding: 0 20px;
             
             a{
                 font-size: 15px;
               border-right: 2px solid #DDDDDD;
               padding-right: 15px;
             }
         }
    }
}
#huaf{
    position: relative;
    margin: 0 auto;
    height: 52px;
    line-height: 52px;
    text-align: center;
    width: 1220px;
    background: url(../img/huafenxian.jpg);
    a{
        position: absolute;
        left: 578px;
        top: 0px;

    }
}

#food_list{
    width: 1220px;
//  min-height: 800px;
    ul{
        width: 1220px;
//       min-height: 800px;
         font-size: 12px;
        li{
            p{
                display: inline-block;
                width: 218px;
                height: 218px;
             img{
                width: 218px;
                height: 218px;
           }
            }
            .title a{
                 text-overflow: ellipsis;
            }
            .wrap{
                width: 236px;
                margin-bottom: 5px;
                a{
                    display: inline-block;
                    width: 100px;
                    
//                  padding: 0 10px 0 10px;
                }
                .company{
                    width: 88px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
               p{
                   width: 100px;
                   text-align: right;
                   margin-right: 22px;
                }
            }
             float: left;
            width: 234px;
            background: #fff;
            padding: 8px;
            border: 1px solid #e8e8e8;
            margin: 0 4px 8px;
            
            .title a{
                height: 50px;
                line-height: 20px;
                overflow: hidden;
                color: #000;
                display: block;
            }
           
        }
        li:hover{
            box-shadow: 0 0 5px black;
        }
    }
}

//#kefu{
//  width:210px;
//  height:445px;
//  background: skyblue;
//  position: fixed;
//  right: -176px;
//  top: 100px;
//  background: url(../img/kefu.png);
//  
//}
