
#banner {
    position: relative;
    padding: 5px;
    .goodb_rig{
    width: 288px;
    height: 506px;
}
.lunbaner{
    width: 927px;
    height: 506px;
    position: absolute;
    left: 0;
    top: 5px;
}
.lbtrtc{
    position: absolute;
    width: 927px;
    height:360px ;
    overflow: hidden;
    ul{
        width: 2781px;
        height:360px ;
        li{
            position: absolute;
            img{
            width: 927px;
            height: 360px;
        }
        }
        
        
    }
    ol{
                 position: absolute;
                right: 0;
                bottom: 0;
            }
            ol>li{
                width: 50px;
                height: 50px;
                float: left;
                
            }
            ol span{
               
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #DDDDDD;
                cursor: pointer;
            }
            .selected{
                background: #FFFFFF;
            }
}
.lunbobt{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 141px;
    width: 927px;
   
}
}

#indnav{
    height: 52px;
    width: 1326px;
    background: #FFFFFF;
    ul{
        padding: 0 20px;
        margin: 0 auto;
        height: 52px;
        line-height: 52px;
        width: 1224px;
        background: #FFFFFF;
        border-top: 1px solid #DDDDDD;
         border-bottom: 1px solid #DDDDDD;
         .dangqian{
             color: #d71e00;
         }
         li{
             padding: 0 20px;
             
             a{
                 font-size: 15px;
               border-right: 2px solid #DDDDDD;
               padding-right: 15px;
             }
         }
    }
}
#huaf{
    position: relative;
    margin: 0 auto;
    height: 52px;
    line-height: 52px;
    text-align: center;
    width: 1220px;
    background: url(../img/huafenxian.jpg);
    a{
        position: absolute;
        left: 578px;
        top: 0px;

    }
}

#food_list{
    width: 1220px;
    height: auto;
    ul{
        width: 1220px;
        height: auto;
        li{
            
        }
    }
}

