@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1220px;
}

#d_top {
  width: 100%;
  background: #f3f3f3;
  height: auto;
}

#d_top .container {
  width: 1220px;
  height: 27px;
  margin: 0 auto;
  padding: 2px 0 3px;
}

#d_top .top_login {
  width: 650px;
  height: 27px;
  font-size: 12px;
}

#d_top .top_login .top_login_span {
  float: left;
  color: #666666;
  width: 430px;
  font-size: 13px;
  font-family: "宋体";
}

#d_top .top_login .top_login_span .h1 {
  display: inline-block;
}

#d_top .top_login .top_login_span a:hover {
  color: red;
}

#d_top #top_wri {
  display: inline-block;
  width: 275px;
  height: 27px;
  font-size: 12px;
}

#d_top #top_wri .iteml {
  margin-right: 20px;
}

#d_top #top_wri .iteml a {
  position: relative;
  margin-right: 20px;
}

#top_wri ul li .num {
  display: inline-block;
  width: 18px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  background: red;
  color: #FFFFFF;
}

#top_wri ul li .sj_right {
  position: absolute;
  left: 18px;
  top: 3px;
  margin-right: 10px;
  width: 0px;
  height: 0px;
  overflow: hidden;
  font-size: 0;
  /*是因为, 虽然宽高度为0, 但在IE6下会具有默认的 */
  line-height: 0;
  /* 字体大小和行高, 导致盒子呈现被撑开的长矩形 */
  border-width: 5px;
  border-style: solid dashed dashed dashed;
  /*IE6下, 设置余下三条边的border-style为dashed,即可达到透明的效果*/
  border-color: transparent transparent transparent red;
}

/*头部*/
#header {
  margin: 0 auto;
  height: 81px;
  margin-top: 26px;
}

#header .logo {
  height: 100%;
  width: 244px;
}

#header .find {
  height: 100%;
  width: 681px;
  padding-left: 50px;
}

#header .find .search {
  position: relative;
  width: 631px;
  height: 40px;
}

#header .find .search #s_content {
  border: 3px solid #d61e00;
  height: 34px;
  float: left;
  width: 518px;
  font-size: 12px;
  line-height: 19px;
}

#div {
  height: 31px;
  background: #FFFFFF;
}

#div ul li {
  padding: 0 5px 0;
  font-size: 12px;
  font-family: "瀹嬩綋";
  color: #484848;
}

#div ul li a:hover {
  color: red;
}

#header .find .search #btn {
  position: absolute;
  top: 0;
  left: 526px;
  width: 95px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background: #d61e00;
}

#header .find .hot {
  width: 631px;
  height: 23px;
  background: green;
  font-size: 12px;
}

#header .find .hot li {
  font-size: 12px;
  height: 31px;
}

#header .h_right {
  height: 100%;
  width: 234px;
  margin-right: 0;
  /*background: skyblue;*/
}

/*一级导航*/
#nav {
  margin: 0 auto;
  box-sizing: border-box;
  height: 35px;
  background: #FFFFFF;
  border-bottom: 2px solid #b1191a;
}

#nav ul {
  height: 35px;
}

#nav ul li {
  height: 35px;
}

/*二级导航*/
#nav ul ul {
  color: white;
  height: 511px;
  width: 238px;
  background: #222222;
}

#nav ul .next_nav {
  font-size: 13px;
  border-bottom: 1px dashed #FFFFFF;
}

#nav ul .next_nav:hover {
  cursor: pointer;
  background: #FFFFFF;
}
#nav ul .next_nav:hover h3 {
  color: #c81623;
}
#nav ul .next_nav:hover div {
  color: #2d2d2d;
}

#nav ul .next_nav i {
  float: left;
  display: inline-block;
  width: 20px;
  height: 33px;
  margin: 0 8px 0 0;
}

#nav ul #i1 {
  background: url(../img/icon_white.png);
  background-position: 0 -7px;
}
#nav ul #i2 {
  background: url(../img/icon_white.png);
  background-position: -22px -7px;
}
#nav ul .next_nav #i3 {
  background: url(../img/icon_white.png);
  background-position: -47px -7px;
}
#nav ul .next_nav #i4 {
  background: url(../img/icon_white.png);
  background-position: -73px -7px;
}
#nav ul .next_nav #i5 {
  background: url(../img/icon_white.png);
  background-position: -101px -7px;
}
#nav ul .next_nav #i6 {
  background: url(../img/icon_white.png);
  background-position: -129px -7px;
}
#nav ul .next_nav #i7 {
  background: url(../img/icon_white.png);
  background-position: -156px -7px;
}
#nav ul .next_nav #i8 {
  background: url(../img/icon_white.png);
  background-position: -180px -7px;
}

#nav ul .next_nav:hover #i1 {
  background: url(../img/icon_red.png);
  background-position: 0px -7px;
}
#nav ul .next_nav:hover #i2 {
  background: url(../img/icon_red.png);
  background-position: -22px -7px;
}
#nav ul .next_nav:hover #i3 {
  background: url(../img/icon_red.png);
  background-position: -47px -7px;
}
#nav ul .next_nav:hover #i4 {
  background: url(../img/icon_red.png);
  background-position: -73px -7px;
}
#nav ul .next_nav:hover #i5 {
  background: url(../img/icon_red.png);
  background-position: -101px -7px;
}
#nav ul .next_nav:hover #i6 {
  background: url(../img/icon_red.png);
  background-position: -129px -7px;
}
#nav ul .next_nav:hover #i7 {
  background: url(../img/icon_red.png);
  background-position: -156px -7px;
}
#nav ul .next_nav:hover #i8 {
  background: url(../img/icon_red.png);
  background-position: -180px -7px;
}

#nav li a {
  line-height: 33px;
  font-size: 16px;
  font-family: "微软雅黑";
  color: #000;
}

#nav li a:hover {
  background: #aa1800;
  color: #fff;
}

/*含轮播图部分*/
#banner {
  height: 511px;
  background: #FFFFFF;
}

#banner #lunbo {
  position: relative;
}

#banner #lunbo .reg_riginf {
  display: inline-block;
  width: 237px;
  height: 511px;
  border: 1px solid #e7e7e7;
}
#banner #lunbo .reg_riginf .slide_login {
  display: inline-block;
  width: 236px;
  height: 121px;
  background: #E7E7E7;
}
#banner #lunbo .reg_riginf .slide_login .sli_login {
  height: 81px;
  padding: 12px 0 0 15px;
}
#banner #lunbo .reg_riginf .slide_login .sli_login .slide_texb {
  height: 12px;
  margin-top: 10px;
  margin-right: 48px;
  font-size: 12px;
  font-weight: bold;
}
#banner #lunbo .reg_riginf .slide_login .sli_login .slide_texc {
  display: inline-block;
  width: 98px;
  height: 12px;
  margin-bottom: 5px;
  margin-right: -328px;
  font-size: 12px;
  color: #565656;
}
#banner #lunbo .reg_riginf .slide-btn {
  width: 236px;
  height: 40px;
  line-height: 40px;
  background: #E7E7E7;
}
#banner #lunbo .reg_riginf .slide-btn a {
  display: inline-block;
  height: 39px;
  width: 115px;
  line-height: 39px;
  text-align: center;
  background: #FFFFFF;
  font-size: 12px;
}
#banner #lunbo .reg_riginf .slide-btn a:hover {
  color: red;
}
#banner #lunbo .reg_riginf .slide-btn .key {
  margin-right: 5px;
  margin-bottom: -3px;
}
#banner #lunbo .reg_riginf .slide-btn .pen {
  margin-right: 5px;
  margin-bottom: -3px;
}

#banner #lunbo .reg_riginf .hd {
  width: 236px;
  height: 29px;
  background: #F5F5F5;
}
#banner #lunbo .reg_riginf .hd ul {
  display: inline-block;
  width: 153px;
  height: 29px;
  background: #F5F5F5;
}
#banner #lunbo .reg_riginf .hd ul li {
  float: left;
  width: 73px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  color: #3c3c3c;
  border: 1px solid #e4e3e6;
}
#banner #lunbo .reg_riginf .hd ul .active1 {
  background: #FFFFFF;
  border-bottom: none;
  border-top: 2px solid red;
}
#banner .bd {
  widows: 236px;
  height: 114px;
  font-size: 12px;
  padding-left: 21px;
  background: #FFFFFF;
}
#banner .bd li {
  height: 22px;
  line-height: 22px;
  padding-left: 10px;
  background: url(../img/sanjiao.png) no-repeat;
  background-position: 0 10px;
}
#banner .bd li a {
  color: #d61e00;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  display: block;
}

#banner #lunbo .reg_riginf .slide_con_c {
  display: inline-block;
  width: 238px;
  height: 70px;
  padding: 10px 0 10px 0;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}
#banner #lunbo .reg_riginf .slide_con_c li {
  position: relative;
  font-size: 12px;
  width: 78px;
  height: 48px;
}
#banner #lunbo .reg_riginf .slide_con_c li span {
  position: absolute;
  bottom: -8px;
  left: 23px;
}
#banner #lunbo .reg_riginf .slide_con_c .ytj {
  background: url(../img/ytj.jpg) no-repeat;
  background-position: center;
}
#banner #lunbo .reg_riginf .slide_con_c .hhy {
  border-right: 1px solid #DDDDDD;
  border-left: 1px solid #DDDDDD;
  background: url(../img/hhy.jpg) no-repeat;
  background-position: center;
}
#banner #lunbo .reg_riginf .slide_con_c .aq {
  background: url(../img/aq.jpg) no-repeat;
  background-position: center;
}

.slide_con_d {
  padding-left: 20px;
  width: 236px;
  height: 154px;
  font-size: 12px;
  background: #FFFFFF;
  border-right: 1px solid #DDDDDD;
}
.slide_con_d li {
  color: #666;
  height: 24px;
  line-height: 24px;
}
.slide_con_d li b {
  border-radius: 50%;
  width: 11px;
  height: 11px;
  border: 1px solid #666666;
  display: inline-block;
  text-align: center;
  line-height: 11px;
  font-weight: normal;
  margin: 6px;
  margin-left: 0px;
}

#banner #lunbo .lbdiv {
  display: inline-block;
  width: 714px;
  height: 501px;
  margin-top: 10px;
  margin-right: 20px;
  background: skyblue;
}
#banner #lunbo .imgr1 {
  width: 175px;
  height: 265px;
}

#banner #lunbo .lb_bottom {
  position: absolute;
  top: 284px;
  right: 257px;
  height: 226px;
  width: 714px;
  background: darkgray;
}
#banner #lunbo .lb_bottom p {
  width: 500px;
  border-bottom: 2px solid #aa1800;
  font-size: 14px;
  color: #000;
  font-weight: bold;
}
#banner #lunbo .lb_bottom p span {
  font-size: 12px;
  font-weight: normal;
  color: #222222;
}
#banner #lunbo .lb_bottom #div2 {
  width: 528px;
  height: 180px;
}
#banner #lunbo .lb_bottom .bot_ms {
  position: absolute;
  top: 0;
  right: 0;
}

/*1F*/
#content1 {
  height: 531px;
  background: #FFFFFF;
}
#content1 .content1_top {
  width: 1220px;
  height: 37px;
  border-bottom: 2px solid #ca2430;
}
#content1 .content1_top .floor_num {
  display: inline-block;
  font-size: 16px;
  text-align: center;
  line-height: 35px;
  width: 50px;
  height: 35px;
  background: #ca2430;
  color: #FFFFFF;
  font-weight: bold;
}
#content1 .content1_top .floor_name {
  font-size: 18px;
  color: #ca2430;
}
#content1 .content1_top .floor_go {
  color: #656565;
  font-size: 14px;
}
#content1 .content1_top .floor_go .to_right {
  border-color: transparent transparent transparent #d61e00;
  border-width: 5px 0 5px 5px;
  display: inline-block;
  border-style: solid;
  height: 0;
  width: 0;
  overflow: hidden;
  line-height: 0;
  margin-left: 4px;
}
#content1 .content1_conf1 {
  width: 1220px;
  height: 494px;
  background: #FFFFFF;
}
#content1 .content1_conf1 .conf1_left {
  width: 215px;
  height: 494px;
  border: 1px solid #DDDDDD;
}
#content1 .content1_conf1 .conf1_center {
  width: 759px;
  height: 494px;
  background: #DDDDDD;
}
#content1 .content1_conf1 .conf1_right {
  width: 246px;
  height: 494px;
}

/*2F*/
#content2 {
  height: 531px;
  background: skyblue;
}

/*3F*/
#content3 {
  height: 531px;
  background: pink;
}

/*页脚*/
#footer {
  position: relative;
  height: 509px;
  background: url(../img/foot.jpg) no-repeat;
  background-position: top;
}

#footer .foot_help {
  height: 309px;
}

#footer .foot_help {
  position: absolute;
  left: 0;
  bottom: 45px;
}
#footer .foot_help .help_bottom {
  box-sizing: border-box;
  padding-top: 25px;
  width: 1000px;
  height: 154px;
  font-size: 12px;
}

#footer .foot_help .help_bottom dl {
  padding-left: 50px;
}

#footer .foot_help .help_bottom dl dt {
  height: 27px;
  line-height: 27px;
  color: #000000;
}

#footer .foot_help .help_bottom dl dd ul li a {
  color: #999999;
  height: 20px;
  line-height: 20px;
}

#footer .foot_help .help_bottom dl dd ul li a:hover {
  text-decoration: underline;
}

#footer .foot_bottom {
  position: absolute;
  left: 100px;
  bottom: 0;
  height: 155px;
  width: 1000px;
}

#footer .foot_bottom .bot_center {
  position: absolute;
  left: 201px;
  bottom: 0;
  width: 502px;
  height: 155px;
  background: url(../img/ds_nz_f.jpg) no-repeat;
}

#footer .foot_bottom .bot_center .foot_nav {
  margin-left: 66px;
  margin-top: 49px;
  font-size: 12px;
  color: #676767;
}

#footer .foot_bottom .bot_center .foot_nav a {
  height: 38px;
  line-height: 38px;
  margin-right: 6px;
  color: #676767;
}

#footer .foot_bottom .bot_center .img1 {
  position: absolute;
  top: 10px;
  left: 360px;
}

#footer .foot_bottom .bot_center .img2 {
  position: absolute;
  top: 10px;
  left: 460px;
}

#footer .foot_bottom .bot_center .foot_text {
  text-align: center;
  font-size: 12px;
  color: #676767;
}

#footer .foot_bottom .bot_center .foot_text p {
  height: 24px;
  line-height: 24px;
}

/*# sourceMappingURL=index.css.map */
